.chatbot-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  transition: right 0.3s ease-in-out;
}

.chatbot-container.open {
  right: 0;
}

.chatbot-icon {
  cursor: pointer;
}

.chatbot-svg {
  width: 50px;
  height: 50px;
}

.chatbot-content {
  background-color: #282c34;
  color: white;
  font-family: Sans-Serif;
  border: 1px solid #000000;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 300px;
  padding: 10px;
  margin-right: 2vh;
  display: flex;
  flex-direction: column;
  height: 500px;
}

.user-content {
  color: white;
  font-family: Sans-Serif;
  text-align: right;
  margin-left: 25%;
  padding: 10px;
  word-wrap: break-word;
}

.bot-content {
  color: white;
  font-family: Sans-Serif;
  text-align: left;
  margin-right: 25%;
  padding: 10px;
  word-wrap: break-word;
}

.bottom-bar {
  margin-top: auto;
  display: flex;
}

.input-field {
  flex: 1;
  padding: 8px;
  margin-right: 10px;
  border: 1px solid #ced4da;
  border-radius: 5%;
}

.button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #0056b3;
}

.chat-messages {
  flex: 1;
  /* Pousse la barre vers le bas */
  overflow-y: scroll;
  /* Ajoutez ceci pour masquer la barre de défilement */
  -ms-overflow-style: none;
  /* IE et Edge */
  scrollbar-width: none;
  /* Firefox */
}

/* Ajoutez ceci pour masquer la barre de défilement */
.chat-messages::-webkit-scrollbar {
  width: 0.5em;
  /* Ajustez la largeur selon vos besoins */
}

.chat-messages::-webkit-scrollbar-thumb {
  background-color: #ccc;
  /* Couleur de la poignée de défilement */
}

.chat-messages::-webkit-scrollbar-track {
  background-color: transparent;
  /* Couleur de la piste de défilement */
}